/* hebrew */
@font-face {
    font-family: 'Assistant';
    font-weight: normal;
    src: url('./Assistant.woff');
}

@font-face {
    font-family: 'Assistant';
    font-weight: lighter;
    src: url('./Assistant-Light.woff');
}

/* English */
@font-face {
    font-family: 'Arial-Rounded-MT-Bold-Font';
    font-weight: normal;
    src: url('./Arial-Rounded-MT-Bold.woff');
    font-style: normal;
}